<!DOCTYPE html>
<html lang="en" class="light">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dr Mario - Create account</title>
    <link rel="stylesheet" href="/Dr.Mario-Remake/src/shared/output.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <style>
    body {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    body.loaded {
        visibility: visible;
        opacity: 1;
    }
  </style>
</head>
<body>
<div id="create-account-page">
    <header>
        <section class="bg-pattern overflow-hidden dark:bg-gray-900">
            <div class="flex justify-center min-h-screen">
                <div class="hidden bg-cover lg:block lg:w-2/5">
                </div>
                <div class="flex flex-col justify-center items-center w-80 mx-auto lg:px-12">
                    <div class="w-full nes-menu" id="create-account-form">
                        <h1 class="text-2xl font-semibold tracking-wider text-yellow-800 capitalize dark:text-white">
                            Get your free account now.
                        </h1>

                        <p class="mt-4 text-gray-500 dark:text-gray-400">
                            Let’s get you all set up so you can verify your personal account and begin setting up your profile.
                        </p>

                        <div class="mt-8">
                            <h1 class="text-gray-500 dark:text-gray-300">Fill your informations below:</h1>

                        </div>

                        <form class="grid grid-cols-2 gap-6 md:grid-cols-2">
                            <div class="mt-6">
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">First Name</label>
                                <input type="text" id="firstName" placeholder="John" class="input input-info block w-full px-5 py-3 mt-2" />
                            </div>

                            <div class="mt-6">
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Last name</label>
                                <input type="text" id="lastName" placeholder="Joe" class="input input-info block w-full px-5 py-3 mt-2" />
                            </div>

                            <div>
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Username</label>
                                <input type="text" id="username" placeholder="JohnJohn" class="input input-info block w-full px-5 py-3 mt-2" />
                            </div>

                            <div>
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Email address</label>
                                <input type="text" id="johnsnow@example.com" placeholder="JohnJoe@your-domain.com" class="input input-info block w-full px-5 py-3 mt-2" />
                            </div>

                            <div>
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Birth date (dd/mm/yyyy)</label>
                                <input type="text" id="birth-date" maxlength="" placeholder="Select a date" class="input input-info block w-full px-5 py-3 mt-2" />
                            </div>

                            <div>
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Country</label>
                                <select id="country" placeholder="Select a date" class="input input-info block w-full px-5 py-3 mt-2"></select>
                            </div>

                            <div>
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Password</label>
                                <input type="password" id="password" placeholder="Enter your password" class="input input-info block w-full px-5 py-3 mt-2 text-gray-600" />
                            </div>

                            <div>
                                <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Confirm password</label>
                                <input type="password" id="confirm-password" placeholder="Enter your password" class="input input-info block w-full px-5 py-3 mt-2" />
                            </div>

                            <button type="submit"
                              class="flex items-center justify-between w-full px-6 py-3 mb-6 text-sm tracking-wide bg-yellow-300 text-black nes-button capitalize transition-colors duration-300 transform rounded-lg focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 min-w-0" style="--bg-color: #EBAB34">
                                <span>Sign Up </span>

                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 rtl:-scale-x-100" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                          clip-rule="evenodd" />
                                </svg>
                            </button>
                        </form>
                    </div>

                    <!--alert error code-->
                    <div role="alert" id="alert-container" class="alert alert-warning hidden mt-8">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                        </svg>
                        <span>Warning! input field with invalid data</span>
                    </div>
                    <div role="alert" id="error-container" class="alert alert-warning alert-soft hidden mt-4">
                        <ul id="error-list" class="text-xs list-disc pl-5">
                        </ul>
                    </div>
                    <!--alert error code end-->
                </div>
            </div>
        </section>
    </header>
</div>
<script>
  window.addEventListener('load', () => {
    document.body.classList.add('loaded');
  });

  setTimeout(() => {
    document.body.classList.add('loaded');
  }, 2000);
</script>
</body>
</html>