<div class="w-[90vw] h-[85vh] max-w-[1100px] max-h-[700px] min-w-[320px] min-h-[400px] bg-neutral-50 rounded-xl shadow-2xl overflow-hidden flex flex-col border border-neutral-800">

    <!--top bar-->
    <div class="h-12 bg-neutral-100 border-b border-b-neutral-500 grid grid-cols-3 items-center px-4 select-none">

        <!--left-->
        <div class="flex items-center gap-2 text-neutral-900"><sl-icon name="file-earmark-check"></sl-icon></div>

        <!--center-->
        <div class="text-center text-sm text-neutral-900 font-medium">Tutorial</div>

        <!--right-->
        <div class="flex justify-end items-center gap-1">
            <wa-button size="small" variant="neutral" appearance="plain"><sl-icon name="dash-lg"></sl-icon></wa-button>
            <wa-button size="small" variant="neutral" appearance="plain"><sl-icon name="fullscreen"></sl-icon></wa-button>
            <wa-button size="small" variant="neutral" appearance="plain"><sl-icon name="x-lg"></sl-icon></wa-button>
        </div>
    </div>

    <div class="flex-1 bg-neutral-50 p-6 text-neutral-900">
        Larilou
    </div>
</div>